@tailwind base;
@tailwind components;
@tailwind utilities;
.feature1 {
  background-image: url('assets/home/home1.webp');
  background-position: 50%;
  position: relative;
  background-size: cover;
}
.contPro {
  background-image: url('assets/home/hom_proyectos.webp');
  background-position: center;
  background-size: cover;
}
.contExi {
  background-image: url('assets/home/exit_proy.webp');
  background-position: center;
  background-size: cover;
}
.heroHerrajes {
  background-image: url('assets/home/home_cali.webp');
  background-position: center;
  background-size: cover;
  height: 600px;
}
.heroNosotros {
  background-image: url('assets/home/home_cali.webp');
  background-position: center;
  background-size: cover;
  height: 600px;
}
.heroServices {
  background-image: url('assets/servicios/hero_services.webp');
  background-position: center;
  background-size: cover;
}
.bgHerra2 {
  background-image: url('assets/herrajes/web_editor_Airy_10.svg');
  background-position: center;
  background-size: cover;
}
.proyectos {
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(100deg, rgb(88, 111, 233) 0%, rgb(89, 114, 233) 0%, rgb(89, 113, 233) 0%, rgb(106, 198, 241) 100%);
}
footer {
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(100deg, rgb(88, 111, 233) 0%, rgb(89, 114, 233) 0%, rgb(89, 113, 233) 0%, rgb(106, 198, 241) 100%);
}
p{
  padding: 2px;
}